
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> Remove paid theme vendor CSS ###
/assets/css/vendor/
###> Remove paid theme vendor CSS ###

###> Remove PHPStorm files ###
/.idea/
##> Remove PHPStorm files ###

###> Remove Deployment Logs ###
/config/deploy/prod.rb
/log/
##> Remove Deployment Logs ###