<nav class="navbar top-navbar">
    <div class="container">
        <div class="navbar-content">
            <a href="{{ path('homepage') }}" class="navbar-brand">
                IN COVID<span>19</span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">
                        <i class="link-icon" data-feather="home"></i>
                        <span class="menu-title">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('countysummary') }}">
                        <i class="link-icon" data-feather="eye"></i>
                        <span class="menu-title">Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_index') }}">
                        <i class="link-icon" data-feather="book-open"></i>
                        <span class="menu-title">Blog</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Raistlfiren/indiana-covid-statistics" target="_blank">
                        <i class="link-icon" data-feather="code"></i>
                        <span class="menu-title">Code</span>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                <i data-feather="menu"></i>
            </button>
        </div>
    </div>
</nav>