{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block content %}

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Blog
                <small>Data Overview</small>
            </h1>

        </div>

    </div>
    <!-- /.row -->

{% endblock %}

{% block afterJavascripts %}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}