<nav class="bottom-navbar">
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
    <div class="container">
        <ul class="nav page-navigation">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="activity"></i>
                    <span class="menu-title">Current Activity</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="#quickCases">New Cases</a></li>
                        <li class="nav-item"><a class="nav-link" href="#quickTests">New Tests</a></li>
                        <li class="nav-item"><a class="nav-link" href="#quickDeaths">New Deaths</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="home"></i>
                    <span class="menu-title">Hospital Capacity</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="#icuBeds">ICU Beds</a></li>
                        <li class="nav-item"><a class="nav-link" href="#ventilators">Ventilators</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="calendar"></i>
                    <span class="menu-title">Weekly Sum</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="#weeklyCaseChart">Cases</a></li>
                        <li class="nav-item"><a class="nav-link" href="#weeklyDeathChart">Deaths</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="bar-chart"></i>
                    <span class="menu-title">7-Day Charts</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="#bigCases">Cases</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bigDeaths">Deaths</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bigTests">Tests</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="user"></i>
                    <span class="menu-title">Demographics</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="#fullSexChart">Sex</a></li>
                        <li class="nav-item"><a class="nav-link" href="#fullAgeChart">Age</a></li>
                        <li class="nav-item"><a class="nav-link" href="#fullRaceChart">Race</a></li>
                        <li class="nav-item"><a class="nav-link" href="#fullEthnicityChart">Ethnicity</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>